.menu-grid{
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 1em;
    overflow: hidden;
}

.menu-item{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    height: 100%;
    background-position: center;
    justify-content: flex-end;
    padding: 1em;
    position: relative;
    background-size: cover;
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/man-training-in-gym-royalty-free-image-1705001385.jpg?crop=1xw:0.84335xh;center,top');
}

.layer{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.menu-item a{
    z-index: 3;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 4em;
}