

form.settingsForm{
    
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    & h1{
        margin-bottom: 0;
    }
    & .form-content{
        display: flex;
        gap: 1em;
    }
    & div.container{
        width: max-content;
        & .wrapper{
            display: flex;
            gap: 1em;
        }
        & .input-container{
            padding: .5em 0;
            display: flex;
            flex-direction: column;
            gap: .5em;
            & input{
                border: 1px solid var(--black);
                border-radius: .5em;
            }
        }
        
    }

    & button{
        align-self: flex-start;
        flex-basis: 100%;
        justify-content: flex-start;
    }
}

/* HIDE RADIO */
.langLabel{
    position: relative;
    height: 2em;
    aspect-ratio: 1;
}

.lang-container{
    display: flex;
    gap: 1em;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid var(--accent);
}