.userAuthWrapper{
    position: relative;
    height: 100vh;
    width: 100vw;
    & form{
        position: absolute;
        left: 0; 
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 600px;
        height: fit-content;
        background-color: var(--gray);
        padding: 1em;
        border-radius: .5em;
        z-index: -1;
        overflow: hidden;
        display: none;
        & .form-content{
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        &.toggle{
            z-index: 1;
            overflow: visible;
            display: block;
        }
        & .flex{
            display: flex;
            gap: .5em;
            & input{
                width: 100%;
            }
        }
    }
}
