*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 200;
}

.grid-container{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-template-areas: 'workoutStats workoutStats';
}

.workout{
    display: flex;
    height: 100%;
    flex-direction: column;
    grid-area: workoutStats;
    background-color: var(--gray);
}

.workout .workout-header{
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.workout-header button{
    color: var(--white);
    font-weight: bolder;
    padding: 1em;
    background-color: transparent;
    border-radius: 100%;
    z-index: 10;
    border: 2px solid var(--white);
}

/* TODO: Centralize in style.css */


.workout-header .bg{
    background: var(--black);
    background: linear-gradient(90deg, rgba(25,27,34,1) 0%, rgba(101,102,107,0.5116640406162465) 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* TODO: Centralize in style.css */
.workout-header h1{
    margin-bottom: 0;
    z-index: 3;
    color: var(--white);
}

/*workout table*/
.workoutTable{
    table-layout: fixed;
}

.workoutTable thead{
    
    padding: .5em 0;
}

/* TODO: Centralize in style.css */
thead tr td{
    text-align: left;
    width: calc(100% / 4);
    max-width: 200px;
    padding: .5em;
    padding-left: 0;
    height: 100%;
    font-weight: bold;
    font-size: 1.5em;
}

.fa-trash{
    padding: 1em;
    box-sizing: border-box;
    color: var(--white);
    border-radius: .25em;
    background-color: var(--accent);
    border: 2px solid var(--accent);
    color: #dedcdc;
}

.fa-trash:hover{
    background-color: var(--accent-hover);
    border: 2px solid var(--accent-hover);
    transition: .2s;
}

button{
    border: none;
    background-color: none;
}

.fa-pen{
    box-sizing: border-box;
    padding: 1em;
    border-radius: .25em;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: .25em;
    background-color: var(--gray);
}

.fa-pen:hover{
    background-color: var(--accent-hover);
    border: 2px solid var(--accent-hover);
    transition: .2s;
    color: var(--white);
}

.infoContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    gap: 2em;
}

.workout .additionalInfos{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    padding-top: 1em;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.infoContainer .graph{
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.additionalInfos .item{
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
/* TODO: Centralizing in style.css */
.additionalInfos .item h3, .item.desc h3{
    font-weight: bold;
}

.stat h3{
    font-size: 2em;
}

.item.desc{
    align-items: flex-start;
    gap: .5em;
}

.desc p{
    max-width: 750px;
}

/*Adding a Workout*/

.add{
    grid-area: addWorout;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
}

/* TODO: Centralize in style.css */
.add h1{
    margin-bottom: 1em;
}

.addWorkout{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.addWorkout input, textarea, select{
    height: 48px;
    width: 100%;
    border: none;
    padding: 1em .5em;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

.addWorkout button{
    padding: 1em;
    background-color: var(--accent);
    color: #dedcdc;
    border: none;
    width: 100%;
}

.addWorkout button:hover{
    transition: .2s;
    background-color: var(--accent-hover);
}

/*Progres Section*/
.progress{
    width: 100%;
    grid-area: timeline;
    height: 100%;
    display: flex;
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form.insertExerciseToWorkout{
    transition: .3s;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: var(--white);
    z-index: 10;
    width: 45vw;
    -webkit-box-shadow: 12px 14px 15px 4px rgba(0,0,0,0.2); 
    box-shadow: 12px 14px 15px 4px rgba(0,0,0,0.2);
    display: none;
}

/* Carousel */

