.dashboard-container{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 33.33%);
  grid-template-areas: 'header header header header'
'stats stats workout test'
'stats stats workout test';
}

.dashboard-container div{
  height: 100%;
  width: 100%;
}

.dashboard-header{
  background-color: #f3f3f3;
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 2em;

  & h1{
    font-weight: bold;
    font-size: 3em;
  }
}

.workout{
  background-color: #a5a5a5;
  grid-area: workout;
}

.stats{
  background-color: #c3c3c3;
  grid-area: stats;
}

.test{
  background-color: #d5d5d5;
  grid-area: test;
}