.title-container{
    padding: 2em 4em 0;
    width: 100vw;
}
.dashboard-container{
    display: flex;
    gap: 1em;
    padding: 2em 4em;
    flex-basis: max-content;
    flex-wrap: wrap;
}

.simple_stats_item{
    display: flex;
    width: calc(33% - 1em);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
    background-color: var(--gray);
}

.simple_stats_item p{
    opacity: .5;
}