.event-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    overflow: hidden;
}

.done{
    border: 1px solid forestgreen;
    padding: .5em;
    border-radius: 1em;
}

#add_event_form{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
}

h3{
    font-size: 24px;
}

#add_event_form .input-container{
    margin-bottom: 1em;
}

#event_content tbody tr input[type="checkbox"] {
    width: 1em;
    height: 1rem;
    border: 1px solid transparent;
    accent-color: #119811;
}
