.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em 0;
}

.exercise_container{
    width: 100vw;
    display: flex;
    padding: 2em 4em;
    gap: 1em;
}

.grid_item{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    position: relative;
}

.grid_item h3{
    color: var(--white);
    z-index: 9
}

.grid_item .layer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .75;
    z-index:5
}