.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em 0;
}

.exercise_container{
    width: 100vw;
    columns: calc(33vw - 5em);
    padding: 2em 4em;
    gap: 1em;
    height: calc(100vh - 16rem);
    overflow-y: scroll;
}

.grid_item{
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    margin-bottom: 1em;
    position: relative;
}

.grid_item h3{
    color: var(--white);
    z-index: 3
}

.grid_item .layer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .75;
    z-index:2;
    transition: .2s;
}

.grid_item:hover .layer{
    opacity: .5;
}