* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #162114;
    /*--white: #f3f3f3;*/
    --gray: #d5d5d5;
    --orange: #eb3d00;
    --base-color: #11121a;
    --secondary: #42434a;
    --hover-primary: #222533;
    --white: #e6e6ef;
    --accent-color: #811331;
    font-family: sans-serif;
}

html{
    font-family: "Noto Sans Hatran", sans-serif;
    line-height: 1.5rem;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;

}

.layer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: .75;
    z-index: 1;
}

p{
    font-weight: 200;
    line-height: 1.4;
}

a{
    text-decoration: none;
    font-weight: 200;
    color: var(--black);
}


#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-color);
    border-right: 1px solid var(--secondary);
    position: sticky;
    top: 0;
    overflow: hidden;
    align-self: start;
    transition: .5s;
    text-wrap: nowrap;
}

#sidebar.close{
    padding: 5px;
    width: 60px;
}

#sidebar ul{
    list-style: none;

}

#sidebar > ul >li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}

#sidebar ul li.active{
    color: var(--accent-color);
    i{
        fill: var(--accent-color);
    }
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 2em;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;

}

#sidebar i{
    flex-shrink: 0;
    transition: .5s;
    fill: var(--white);
}

#sidebar a span, .dropdown-btn span{
    flex-grow: 1;

}

#sidebar a:hover, .dropdown-btn:hover{
    background-color: var(--hover-primary);


}

#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: .5s;
    > div {

        overflow: hidden;
    }
}

#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

#sidebar .dropdown-btn i.show{

    transform: rotate(180deg);
}

#sidebar .sub-menu a{
    padding-left: 2em;
}

#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
}

#toggle-btn i{
    fill: var(--white);
}

#toggle-btn:hover{
    background-color: var(--hover-primary);
}

main{
    box-sizing: border-box;
    padding: min(2rem, 1rem);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px){
    body{
        grid-template-columns: 1fr;

    }

    main{
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        padding: 2em 1em 60px 1em;
    }

    #sidebar{
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: unset;
        bottom: 0;
        > ul{
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow-x: auto;
        }

        ul li span, li.logo,ul li:first-child, .dropdown-btn i:last-child, #toggle-btn{
            display: none;
        }

        ul li{
            height: 100%;

        }

        ul a, ul .dropdown-btn{
            height: 60px;
            padding: 0;
            border-radius: 0;
            margin-left: 0;
            padding: 0 1em;
            justify-content: center;
        }

        ul li .sub-menu.show{
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            background-color: var(--accent-color);
            border-top: 1px solid var(--secondary);
            display: flex;
            justify-content: center;
            width: 100%;
            border-bottom: 0;
            height: 60px;

            > div{
                overflow-x: auto;
            }
            li{

                display: inline-flex;
            }

            a{
                box-sizing: border-box;

                padding: 1em;
                margin-left: 0;
                width: auto;
                justify-content: center;
            }
        }
    }




}
.img-container{
    width: 100%;
    position: relative;
    height: 100vh;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}


table{
    width: 100%;
    padding: 1em;
}
table thead tr th{
    text-align: left;
    padding: 1em 0;
}
table tbody button{
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 1em;
    aspect-ratio: 1;
    width: max-content;
}

table tbody tr td{
    padding: .5em 0;
    font-weight: 200;
}