.workout-container{
    height: 100%;
    display: flex;
}

.workouts{
    padding-left: 4em;
    display: flex;
    width: 100%;
    max-width: 50vw;
    padding-right: 2em;
    padding-bottom: 1em;
    flex-direction: column;
    height: calc(100vh - 8em);
    justify-content: space-between;
}

.workouts .workout-list{
    display: flex;
    flex-direction: column;
}

.workouts .title-container h1{
    font-weight: bold;
    font-size: 4em;
}

.workouts .title-container h3{
    font-weight: 200;
    opacity: .5;
    font-size: 2em;
}

.workout-list a{
    color: var(--black);
    text-decoration: none;
    font-weight: 200;
    font-size: 1.5em;
    padding: .5em 0;
}

.workout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workout .delete_button{
    background-color: pink;
    border: 1px solid var(--black);
    border-radius: 100%;
    padding: .5em;
    width: max-content;
    aspect-ratio: 1;

}

.exercise_add_container_button{
    border: none;
    background-color: var(--orange);
    width: max-content;
    padding: .5em;
    position: absolute;
    z-index: 20;
    bottom: 4em;
    left: calc(50% + 1em);
    aspect-ratio: 1;
    transition: .2s;
    border-radius: 100%;
    -webkit-box-shadow: 5px 2px 26px -1px rgba(0,0,0,0.43);
    box-shadow: 5px 2px 26px -1px rgba(0,0,0,0.43);

}

.add_exercise_container{
    display: none;
    transition: .2s;
    overflow: hidden;
}

.exercise_add_container_button.open_state{
    bottom: calc(100% - 4em);
    top: 1em;
    left: calc(50% + 1em);
    padding: 1em;
    width: max-content;
    background-color: var(--orange);
    aspect-ratio: 1;
}

.exercise_add_container_button.open_state p{
    display: none;
    overflow: hidden;
}

.add_exercise_container.open_form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    max-width: 50vw;
    right: 0;
    background-color: var(--white);
}

.add_exercise_container.open_form input, .add_exercise_container.open_form select{
    width: 100%;
    max-width: 100%;
}

.workout .delete_button i{
    color: var(--black);
}

.workout-cover-img-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 50vw;
    background-color: var(--white);
}

.workout-cover-img-container .layer{
    opacity: 0;
}

.workout-cover-img-container img{
    border: none;
    /*display: none;*/
}

/*Workout Detail Page*/
.workout-detail-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 25% auto auto auto;
    grid-template-areas: 'title title title title'
                        'exercises exercises exercises exercises'
                        'exercises exercises exercises exercises'
                        'general_info general_info general_info general_info';
}

.workout-detail-container .title-container{
    display: flex;
    width: 100%;
    position: relative;

    justify-content: space-between;
    align-items: center;
    grid-area: title;
}

.title-container img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.title-container #exercise_add{
    color: var(--white);
    background-color: transparent;
    width: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 2px solid var(--white);
    padding: 2em;
    z-index: 2;
    margin-right: 1em;
}

.title-container #exercise_add i{
    font-size: 2em;
    font-weight: 200;
}

.workout-detail-container .title-container h1{
    font-weight: bold;
    margin-left: .5em;
    font-size: 4em;
    z-index: 2;
    color: var(--white);
}

.exercises_container{
    background-color: var(--gray);
    grid-area: exercises;
    padding: 2em;
}

.general_info{
    width: 100%;
    background-color: var(--white);
    grid-area: general_info;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.general_info h3{
    margin-bottom: .5em;
}

.general_info p{
    max-width: 650px;
}


.grid_item img{
    position: absolute;
    height: 100%;
    width: 100%;
}